#servicos{
  background-color: #EEEEEE;
}
#servicos .card{
   border-radius: 10px;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.m-display{
  background-image: url('img/display1.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 600px;
}
section{
  width: 100%;
}
.padding-100{
  padding-top: 60px;
}
.padding-30{
  padding-top: 40px;
  padding-bottom: 40px;
}
h1, h2, h3, h4, h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
#mainNav {
  background-color: #212529;
}
#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #fed136;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}
#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #fec503;
}
#mainNav .navbar-nav .nav-item .nav-link {
      font-size: 90%;
      font-weight: 400;
      padding: 0.75em 0;
      letter-spacing: 1px;
      color: white;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: #fed136;
}
@media (min-width: 992px){
    #mainNav {
       padding-top: 25px;
       padding-bottom: 25px;
       -webkit-transition: padding-top 0.4s, padding-bottom 0.4s;
       -moz-transition: padding-top 0.4s, padding-bottom 0.4s;
       transition: padding-top 0.4s, padding-bottom 0.4s;
       border: none;
       background-color: transparent;
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
       padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
       padding-top: 0;
       padding-bottom: 0;
       background-color: #212529;
       opacity: 1;
    }
    #mainNav .navbar-shrink .navbar-brand {
       font-size: 1.25em;
       padding: 12px 0;
    }
}
header.masthead {
    text-align: center;
    background-color: darkgray;
    opacity: 1;
    background-image: url("img/display3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header.masthead .intro-text {
      padding-top: 150px;
      padding-bottom: 100px;
}
header.masthead .intro-text .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
header.masthead .intro-text .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
    header.masthead .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
  }
    header.masthead .intro-text .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    header.masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}
#produtos{
  background-image: linear-gradient(to bottom, black, #696969);
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}
#produtos img{
   border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#produtos img:hover{
   box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#produtos p{
  font-style: italic;
}
#text-dark{
  color: gray;
  font-style:normal;
}
#net{
   color: #98FB98;
}
#display1{
   position: static;
   background-image: url('img/display.png');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   opacity: 1;
}
#Welcome{
  align-content: center;
  align-items: center;
  text-align: center;
  margin:0;
}
section#contato{
    background-color: #EEE9E9;
    color: black;
    text-align: center;
    padding-top: 8rem;
    padding-right: 0px;
    padding-bottom: 8rem;
    padding-left: 0px;
}
footer{
    text-align: 'center';
    background-color: black;
    padding: 5px;
    font-style: Roboto bold;
    font-weight: 300;
    color: white;
}
